extends layout
block append head
  link(rel='stylesheet', href='/css/file.css')
block content
  #container.clearfix
    include leftside
    .col-main
      div.main_hd
        h2 文件上传
        div.tab_inner
          ul.tab_list
            li.tab_item.active
              a(href='javascript:void(0);') 文件上传
      div(style='padding-top: 10px')
      div.main_bd(id ='upContainer')
        a#pickfiles(href='javascript:void(0);') 点击上传文件
          i.iconfont &#xe640
        div.common_table(style='text-align: left;margin-top: 30px')
          table
            tr.table_hd
              th
                span 文件名称
              th
                span 文件类型
              th
                span 文件大小
              th
                span 删除
            tr.empty
              td(colspan='4' style='text-align: center')
                span 文件列表为空
          a.btn-success.save(href='javascript: void(0);' style='display: none') 保存
append script
  script(src='/src/plugin/qiniu/moxie.js')
  script(src='/src/plugin/qiniu/plupload.dev.js')
  script(src='/src/plugin/qiniu/qiniu.js')
  script(src='/src/file-up.js')
