extends layout
block append head
  link(rel='stylesheet', href='/src/plugin/pageination.css')
  link(rel='stylesheet', href='/css/group.css')
block content
  #container.clearfix
    include leftside
    .col-main
      div.main_hd
        h2 用户管理
        div.tab_inner
          ul.tab_list
            li.tab_item.active
              a(href='javascript:void(0);') 用户列表
      div(style='padding-top: 10px')
      div.main_bd
        div.clearfix(id="screen")
          div.screen_group
            div.screen_inner
              input(type="text" id="realname" placeholder='请输入真实姓名')
            div.screen_action
              button(class="btn-success screen_submit") 筛选
        div.common_table
          table
            tr.table_hd
              th
                span 头像
              th
                span 姓名
              th
                span QQ号码
              th
                span 手机号码
              th
                span 所在部门
              th
                span 职位
              th
                span 操作
        div.page_container.clearfix
          div#page

append script
  script(src='/src/plugin/lib-pagination.js')
  script(src='/src/group-user.js')
