extends layout
block append head
  link(rel='stylesheet', href='/css/index.css')
block content
  #container.clearfix
    include leftside
    .col-main
      div.block.index_show
        div.index_tap.left
          ul.inner
            li
              a(href="/users")
                span
                  i.iconfont &#xe601
                  em 20
                  strong 测试数
            li
              a(href="#")
                span
                  i.iconfont &#xe601
                  em 5
                  strong 测试人数
        &nbsp;
        div.index_tap.right
          ul.inner
            li
              a(href="#")
                span
                  i.iconfont &#xe601
                  em 25
                  strong 总bug数
append script
  script(src='/src/index.js')
