doctype html
html
  head
    block head
      title= title
      meta(name="viewport", content="width=device-width")
      link(rel='stylesheet', href='/src/plugin/nofication.css')
      link(rel='stylesheet', href='/src/plugin/dialog.css')
  body
    block header
      header
        div.inner
          h1
            a(href="#", title="胡宁的管理平台").logo
    block content
    block footer
      footer
        a(href="#") 关于胡宁
        a(href="#") 服务协议
        a(href="#") Copyright &copy 2012-2016 Tencent. All Rights Reserved.
  block script
    script(src='http://libs.baidu.com/jquery/1.10.2/jquery.min.js')
    script(src = '/src/plugin/lib-api.js')
    script(src = '/src/plugin/lib-httpurl.js')
    script(src='/src/plugin/lib-storage.js')
    script(src='/src/plugin/lib-notification.js')
    script(src='/src/plugin/lib-dialog.js')
    script(src='/src/plugin/runtime.js')
    script(src='/template/jade-template.js')
    script(src='/src/layout.js')
    script(src='/src/plugin/moment.js')