//Created by huning on 16/2/21.
.col-side
   #side-menu.menu_box
      ul
         li.title
           i.iconfont &#xe62b
           span 公司名称
         li(data-index = 'index')
           a(href="/index") 首页
      ul
         li.title
            i.iconfont &#xe62a
            span 管理
         li(data-index= 'manage-bug')
            a(href="/manage/bug") BUG管理
         li(data-index= 'manage-project')
            a(href="/manage/project") 项目管理
         li(data-index= 'manage-task')
            a(href="/manage/task") 任务管理
         li
            a(href="#" data-index='5') 消息管理
      ul
         li.title
            i.iconfont &#xe629
            span 分享
         li(data-index='file-list')
            a(href="/file/list") 所有文件
         li(data-index='file-up')
            a(href="/file/up") 上传文件
         li(data-index='share-notice')
            a(href="/share/notice") 公告
      ul
         li.title
            i.iconfont &#xe62c
            span 组织
         li(data-index = 'group-user')
            a(href="/group/user") 用户
         li(data-index = 'group-company')
            a(href="/group/company") 公司
      ul
         li.title
            i.iconfont &#xe62e
            span 统计
         li(data-index = 'count-bug')
            a(href="/count/bug") BUG统计
          //
            li
               a(href="#") 访问统计
      ul
         li.title
            i.iconfont &#xe61b;
            span 设置
         li(data-index = 'setting-user')
            a(href="/setting/user") 账号设置
         li
            a(href="#") 消息设置
         //
            li
               a(href="#") 同事邀请