//Created by huning on 16/2/21.
.col-side
   #side-menu.menu_box
      ul
         li.title
           i.iconfont &#xe62b
           span 公司名称
         li
           a(href="#") 首页
      ul
         li.title
            i.iconfont &#xe62a
            span 管理
         li
            a(href="#") BUG管理
         li
            a(href="#") 项目管理
         li
            a(href="#") 任务管理
         li
            a(href="#") 消息管理
      ul
         li.title
            i.iconfont &#xe629
            span 分享
         li
            a(href="#") 所有文件
         li
            a(href="#") 上传文件
         li
            a(href="#") 公告
      ul
         li.title
            i.iconfont &#xe629
            span 统计
         li
            a(href="#") BUG统计
         li
            a(href="#") 访问统计
      ul
         li.title
            i.iconfont &#xe61b;
            span 设置
         li
            a(href="#") 基础设置
         li
            a(href="#") 权限设置
         li
            a(href="#") 消息设置
         li
            a(href="#") 同事邀请