//Created by huning on 16/2/21.
.col-side
   #side-menu.menu_box
      ul
         li.title
           i.iconfont &#xe62b
           span 公司名称
         li(data-index = 'index')
           a(href="#") 首页
      ul
         li.title
            i.iconfont &#xe62a
            span 管理
         li
            a(href="#" data-index='') BUG管理
         li
            a(href="#" data-index='3') 项目管理
         li
            a(href="#" data-index='4') 任务管理
         li
            a(href="#" data-index='5') 消息管理
      ul
         li.title
            i.iconfont &#xe629
            span 分享
         li
            a(href="#" data-index='6') 所有文件
         li
            a(href="#" data-index='7') 上传文件
         li
            a(href="#" data-index='8') 公告
      ul
         li.title
            i.iconfont &#xe62c
            span 组织
         li
            a(href="#" data-index='9') 用户
         li
            a(href="#" data-index='10') 权限
         li
            a(href="#" data-index='11') 动态
         li
            a(href="#" data-index='12') 公司
      ul
         li.title
            i.iconfont &#xe62e
            span 统计
         li
            a(href="#" data-index='13') BUG统计
         li
            a(href="#") 访问统计
      ul
         li.title
            i.iconfont &#xe61b;
            span 设置
         li
            a(href="#") 账号设置
         li
            a(href="#") 消息设置
         li
            a(href="#") 同事邀请