extends layout
block append head
  link(rel='stylesheet', href='/src/plugin/pageination.css')
  link(rel='stylesheet', href='/css/manage.css')
block content
  #container.clearfix
    include leftside
    .col-main
      div.main_hd
        h2 项目管理
        div.tab_inner
          ul.tab_list
            li.tab_item.active
              a(href='javascript:void(0);') 项目列表
      div(style='padding-top: 10px')
      div.main_bd
        div.clearfix(id="screen")
          div.screen_group
            div.screen_inner
              input(type="text" id="project_name" placeholder='请输入项目名称')
            div.screen_action
              button(class="btn-success screen_submit") 筛选
        div.common_table
          table
            tr.table_hd
              th
                span 项目名称
              th
                span 创建人
              th
                span 修改(创建)日期
              th
                span bug总数
              th
                span 未解决bug数
              th
                span 已解决bug数
              th
                span 操作
        div.page_container.clearfix
          div#page

append script
  script(src='/src/plugin/lib-pagination.js')
  script(src='/src/plugin/moment.js')
  script(src='/src/manage-project.js')
