extends layout
block append head
  link(rel='stylesheet', href='/css/manage.css')
block content
  #container.clearfix
    include leftside
    .col-main
      div.main_hd
        h2 任务详情
      div(style='padding-top: 10px')
      div.main_bd
        div.timeline_group
          ul.timeline
            li.timeline-item
              div.timeline-item-tail
              div.timeline-item-head.timeline-item-head-balanced
              div.timeline-item-content.balanced
                p 浙江省宁波市科技园区公司 派件中 电话:
                p.positive 159887647631
                p.timeline-item-content-time 2016-03-01 12:47:59
            li.timeline-item
              div.timeline-item-tail
              div.timeline-item-head
              div.timeline-item-content.balanced
                p 浙江省宁波市科技园区公司 派件中 电话:
                p.positive 159887647631
                p.timeline-item-content-time 2016-03-01 12:47:59

append script
  script(src='/src/plugin/moment.js')
  script(src='/src/manage-task-detail.js')
