extends layout
block append head
  link(rel='stylesheet', href='/css/reg.css')
  title #{title}
block content
  #container.clearfix
    - if(step==0)
      .head
        ul
          li.active 基本信息
          li 信息登记
          li 完成
      .body
        .left
          .input_group
            .input_inner
              label 账号
              input(type="text" id="username" placeholder="请输入您的登录账号")
              p.tip.tip-warn 请输入符合规则的账号
              p.tip.tip-text 作为登录帐号，请填写未被注册的账号，字母、数字或者英文符号，最短8位，区分大小写
            .input_inner
              label 密码
              input(type="password" id="password" placeholder="请输入您的登录密码")
              p.tip.tip-warn 请输入符合规则的密码
              p.tip.tip-text 字母、数字或者英文符号，最短8位，区分大小写
            .input_inner
              label 重复密码
              input(type="password" id="password-repeat" placeholder="请输入您的登录密码")
              p.tip.tip-warn 两次输入密码不一致
              p.tip.tip-text 请再次输入密码
            .btn_inner
              a.btn-disable.J-reg(id ='reg' href='javascript:void(0);' title='点击注册')  立即注册
        .right 已有公司账号？
          a(href="/login") 立即登录
    - else if(step == 1 )
      .head
        ul
          li 基本信息
          li.active 信息登记
          li 完成
      .body
        .center
          .input_group
            .input_inner
              label 真实姓名
              input(type="text" id="realname" placeholder="请输入您的真实姓名" autocomplete="off")
            .input_inner
              label 部门
              select.J-depart(style="width: 332px")
            .input_inner
              label 职位
              select.J-role(style="width: 332px")
            .btn_inner
              a.btn-success(href='javascript:void(0);' title='下一步' id="update")  下一步
    - else if(step == 2 )
      .head
        ul
          li 基本信息
          li 信息登记
          li.active 完成
      .body
        div.success_inner
          h1
            i.iconfont &#xe638;
            span恭喜你，注册成功！
          h2
            span 从现在开始，你就是公司的一份子了
            br
            a(href="/index")
              i.iconfont &#xe62b;
              进入首页
            a(href="/setting/user")
              i.iconfont &#xe61b;
              进入个人中心－设置
append script
  script(src='/src/reg.js')
