@import '_rese.less';

*{
  padding: 0;
  margin: 0;
}
input{
  -webkit-appearance:none;
  outline: none;
  border: none;
}
a{
  text-decoration: none;
  color: @font-color;
}
body {
  font: 14px "Helvetica Neue","Hiragino Sans GB","Microsoft YaHei","\9ED1\4F53",Arial,sans-serif;
  background: @bg-color;
  -webkit-font-smoothing: antialiased;
}

li{
  text-decoration: none;
  list-style: none;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: normal;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }

#container{
  width: 1200px;
  margin: 36px auto 88px;
  background: #fff;
  border: 1px solid @border-color-o;
  min-height: 700px;
  overflow: hidden;
  .col-main{
    float: right;
    width: 82.5%;;
  }
}


/*头部title*/
.main_hd{
  border-bottom: 1px solid @border-color;
  h2 {
    font-size: 16px;
    padding: 0 30px;
    line-height: 75px;
  }
}

/*主要body*/
.main_bd {
  padding: 0 30px 40px;
}

/*横条tab*/
.tab_inner {
  .tab_list {
    .tab_item {
      display: inline-block;
      padding: 0 18px;
      height: 40px;
      line-height: 40px;
      border-bottom: 3px solid transparent;
      &:first-child {
        padding-left: 30px;
      }
      &.active {
        border-bottom-color: @border-color-green !important;
      }
      &:hover {
        border-bottom-color: @color-gray-9;
      }
    }
  }
}

/*修改table*/
.change_table {
  border: 1px solid @border-color;
  margin-top: 40px;
  &>h3 {
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid @border-color;
    padding: 0 20px;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    background-color: #f4f5f9;
  }
  .row {
    border-top: 1px solid #e7e7eb;
    padding: 18px 20px;
    padding-top: 10px;
    padding-bottom: 5px;
    &:first-child {
      border-top: 0;
    }
    h4 {
      float: left;
      width: 100px;
      margin-right: 20px;
    }
    .meta_action {
      float: right;
      margin-left: 16px;
      a {
        color: @color-blur;
      }
    }
    .meta_content {
      margin-bottom: 10px;
      img{
        width: 80px;
        height: 80px;
      }
      .head_empty {
        width: 80px;
        height: 80px;
        line-height: 80px;
        display: inline-block;
        vertical-align: top;
        background: @color-gray-9;
        text-align: center;
        i.iconfont {
          font-size: 60px;
          color: #fff;
        }
      }
    }
  }
}


//筛选通用样式
#screen {
  padding: 20px 0;
  .screen_group{
    .screen_inner {
      float: left;
      margin-right: 20px;
      input,select {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        padding: 4px 7px;
        height: 28px;
        cursor: text;
        font-size: 12px;
        line-height: 1.5;
        color: #666;
        background-color: #fff;
        border: 1px solid #d9d9d9;
        border-radius: 6px;
      }
      select {
        height: 38px;
        min-width: 120px;
      }
      label {
        margin-right: 12px;
      }
      .btn-line {
        .btn-line();
        font-size: 12px;
        width: auto;
        padding-left: 10px;
        padding-right: 10px;
        height: 28px;
        line-height: 28px;
        margin-right: 12px;
        .transition(all 300ms);
        &.active {
          border-color: @bg-green;
          color: @bg-green;
        }
        &:hover{
          border-color: @bg-green;
          color: @bg-green;
        }
        &.isown.active {
          background-color:  @bg-green;
          color: #fff;
        }
      }
    }
    .screen_action{
      float: left;
      button {
        display: inline-block;
        vertical-align: middle;
        margin: 3px 10px;
      }
      .btn-success{
        .btn-success();
        width: 80px;
      }
      .btn-disable{
        .btn-disable();
        width: 80px;
      }
    }
    .line {
      float: left;
      margin-top: 10px;
      margin-right: 10px;
      color: @color-gray-9;
    }
    .br {
      float: left;
      width: 100%;
      height: 15px;
    }
  }
}


//通用表格
.common_table {
  table {
    width: 100%;
    max-width: 100%;
    border-collapse: separate;
    text-align: left;
    border-spacing: 0;
    font-size: 12px;
    color: #666;
    th {
      padding: 16px 8px;
      word-break: break-all;
      background: #f4f4f4;
      font-weight: bold;
      -webkit-transition: background .3s ease;
      transition: background .3s ease;
      text-align: left;
      &.table_action {
        background: #fff;
        border-bottom:1px solid @border-color;
        .btn-success {
          .btn-success();
          i.iconfont {
            vertical-align: middle;
          }
        }
      }
    }
    td {
      padding: 16px 8px;
      word-break: break-all;
      border-bottom: 1px solid #e9e9e9;
      a {
        color: #2db7f5;
        text-decoration: none;
      }
    }
  }
}
