@import '_rese.less';

*{
  padding: 0;
  margin: 0;
}
input{
  -webkit-appearance:none;
}
a{
  text-decoration: none;
  color: @font-color;
}
body {
  font: 14px "Helvetica Neue","Hiragino Sans GB","Microsoft YaHei","\9ED1\4F53",Arial,sans-serif;
  background: @bg-color;
  -webkit-font-smoothing: antialiased;
}

li{
  text-decoration: none;
  list-style: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }

#container{
  width: 1200px;
  margin: 36px auto 88px;
  background: #fff;
  border: 1px solid @border-color-o;
  min-height: 700px;
  overflow: hidden;
  .col-main{
    float: right;
    width: 82.5%;;
  }
}
