@import "_rese.less";
@import "_func.less";
@import "_com.less";
@import "template.less";


.banner{
  background: url(https://res.wx.qq.com/mpres/htmledition/images/bg/bg_login_banner_v5218877.jpg) no-repeat center top;
  background-color: #090b1a;
  .inner{
    height: 470px;
    width: 1000px;
    margin: 0 auto;
    .login_frame{
      width: 316px;
      float: right;
      margin-top: 25px;
      background-color: #fff;
      .border-radius('5px');
      .box-shadow('3px 3px 5px rgba(0,0,0,0.5)');
      padding: 25px 35px 20px;
      h3{
        font-weight: normal;
        font-size: 20px;
        padding: 5px 0;
      }
      .input_inner{
        padding: 3px 0 3px 54px;
        position: relative;
        border: 1px solid @border-color;
        border-top: 0;
        i{
          position: absolute;
          top: 8px;
          left: 15px;
          font-size: 28px;
          color: @border-color-o;
        }
        input{
          padding: 11px 0;
          border: 0;
          width: 100%;
          font-size: 16px;
        }
        &:first-child{
          border-top: 1px solid @border-color;
        }
      }
      .btn_inner{
        margin-top: 20px;
        margin-bottom: 10px;
        .btn{
          .btn-success();
        }
      }
    }
  }
}
