@import "_rese.less";
@import "_func.less";
@import "_com.less";
@import "template.less";

.head{
  ul{
    .box();
    border-bottom:1px solid @border-color;
    li{
      .box-flex();
      height: 44px;
      line-height: 44px;
      text-align: center;
      background: url(../images/bg_reg.png) no-repeat 0 0;
      &:first-child{
        background: none;
      }
      &.active{
        background-color: @btn-green;
        color: #fff;
        &+li{
          background: url(../images/bg_reg.png) no-repeat 0 0;
          background-position: 0 -88px
        }
      }
    }
  }
}

.body{
  padding: 60px 0;
  .left{
    float: left;
    padding: 50px 0;
    width: 55%;
    border-right: 1px solid @border-color;
  }
  .right{
    float: right;
    padding: 50px 0;
    width: 44%;
    text-indent: 50px;
    a{
      color: @bg-blue;
    }
  }
}

//输入框通用样式
.input_group{
  text-align: center;
  .input_inner{
    display: inline-block;
    padding-bottom: 40px;
    label{
      display: inline-block;
      min-width: 56px;
      margin-right: 14px;
      text-align: left;
    }
    input{
      display: inline-block;
      border: 1px solid @border-color;
      height: 30px;
      line-height: 30px;
      padding: 0 5px;
      width: 320px;
      font-size: 14px;
    }
    .tip{
      width: 320px;
      font-size: 12px;
      text-align: left;
      margin-left: 70px;
      padding: 5px 0;
    }
    .tip-text{
      color: @color-gray-9;
    }
    .tip-warn{
      display: none;
      color: @color-red;
      font-size: 14px;
    }
  }
  .btn_inner{
    margin: 0 auto;
    width: 400px;
    padding-top: 30px;
    margin-bottom: 10px;
    border-top: 1px solid @border-color;
    .btn-success{
      .btn-success();
    }
    .btn-disable{
      .btn-disable();
    }
  }
}