tr
   tr
      td
         span 今日
      td
         span 10
      td
         span 100
   tr
      td
         span 当前月份
      td
         span 10
      td
         span 100
   tr
      td(colspan=3 style='text-align: right')
         span 未解决bug总数: 200