if(isAdmin == 1)
   each item in depart
      div.select_inner
         a(class= 'select' href='javascript:void(0);' _id= item._id)= item.name
         i.iconfont(class='delete') &#xe600
   div.select_inner.select_action
      button.addDepart(class= 'btn-success') 新增部门
else
   each item in depart
      div.select_inner
         a(class= 'select' href='javascript:void(0);' _id= item._id)= item.name
