if(letters.length>0)
   div.message_inner
      a(href='javascript:void(0)')
         img(src= 'http://7xthm1.com1.z0.glb.clouddn.com/FjiAdj4WjYS5ZaSaKomu23Wi-vHK?imageView2/1/w/100/h/100/q/100/format/jpg')
         div.detail
            p 宇直街拍
               span.right 2月20日 10:20
            p 最近一次对话
      div.action_inner
         a(href='javascript:void(0);' title='删除')
            i.iconfont &#xe63c
else
   p(style= 'padding: 20px;font-size: 14px; text-align: center') 暂无私信