if(isAdmin == 1)
   each item in role
      div.select_inner
         a(class= 'select' href='javascript:void(0);' _id= item._id)= item.name
         i.iconfont(class='delete') &#xe600
   div.select_inner.select_action
      button.back(class= 'btn-line') 返回部门
      button.addRole(class= 'btn-success' depart_id= role[0].department) 新增职位
else
   each item in role
      div.select_inner
         a(class= 'select' href='javascript:void(0);' _id= item._id)= item.name
   div.select_inner.select_action
      button.back(class= 'btn-line') 返回部门
