div#user
   if isLogin==1
      .left
         div.account
            a(href="/group/company").tag.group= depart
            a(href="/group/company").tag.job= role
            br
            a(href="/index").name= realname
            a(href="/setting/user").head
               if head_url
                 img(src = head_url)
               else
                 i.iconfont &#xe630
         div.account
            a(href="/manage/message")
               i.iconfont &#xe62f;
               span.red.J-red
         div.account
            a.J-logout(href="javascript:void(0);").logout 退出
   else if isLogin==0
      .left
         div.account.un_log
         p 还未注册自己公司账号？
            a(href='reg?step=0' style='color:#7cbae5') 申请注册